* {
    font-family: "Epilogue";
    color: #2D2D2D;
}
/* hero section */
#hero {
    padding: 100px 0;
}
.hero-text > h1 {
    font-size: 80px;
}
/* client section */
.review {
    background-color: #FFFCF5;
    border: 1.5px solid #FFD285;
}
.review > p {
    margin-bottom: 80px;
}
/* product section */
#product {
    padding: 180px 0;
}
/* footer */
footer {
    padding: 70px 0;
}
.user {
    width: 100%;
    background-color: #F3F3F3;
    border: none;
}
#comment {
    height: 231px;
    resize: none;
}
.submit {
    width: 45%;
    height: 80px;
    background-color: #2D2D2D;
    color: white;
}

@media (max-width: 575px) {
    #hero {
        padding: 50px 0;
    }
    .hero-text > h1 {
        font-size: 50px;
    }
    #hero img {
        width: 100%;
    }
    #product {
        padding: 60px 0;
    }
    .submit {
        width: 75%;
    }
}